# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Scala
6. C++
7. Javascript
8. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn
5. Scikit-learn
6. Keras
7. Tensorflow
8. Pytorch

Data Science Tools |
| --- |
| Apache Spark |
| RStudio |
| Tensorflow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes/60
print(hours)

3.3333333333333335

Objectives:
- Creating markdown cells with various headings
- Creating markdown for a table
- Creating a markdown for an ordered list
- Using code to calucalte basic aritmetic
- Creating a markdown for an undordered list

## Author
Varsha Hart